<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="body-text" id="main-dress">
    <div class="flex-col">
        <div class="flex-row text-center">
            Dress Code
        </div>
        <div class="styled-rule-2-lg"></div>
        <div class="flex-row text-med text-center">
            Servicemembers
        </div>
        <div class="text-sm text-center">
            Servicemembers will wear their service-appropriate dress uniform.<br/>
            Soldiers are authorized to wear any of the mess uniforms, the Army Service Uniform dress
            variation, or the Army Green Service Uniform dress variation.<br/>
            "Party shirts" are authorized, and all servicemembers are authorized to change into formal
            civilian attire (preferably matching the night's theme) after the colors have been retired.
        </div>
        <div class="styled-rule-2-lg"></div>
        <div class="flex-row text-med text-center">
            Civilians
        </div>
        <div class="text-sm text-center">
            Black-tie appropriate formal wear, preferably matching the evning's theme - Old Hollywood Glamour.
        </div>
    </div>
</div>
</body>
</html>