<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="body-text" id="main-home">
    <div class="styled-rule"></div>
    <div style="margin-bottom:1rem;">
        <img alt="111th Military Intelligence Brigade Unit Patch" class="phoenix-main" src="/images/111th_MI_BDE_Patch.svg"> The Soldiers and Leaders of the 111th
        Military Intelligence Brigade invite you to our 2022 Leadership Forum and Dining Out on April 1st, 2022 at
        Fort Huachuca's Thunder Mountain Activity Center.
    </div>
    <div class="styled-rule"></div>
    <button class="btn btn-big" id="bigBuyNow">Buy Tickets Now</button>
    <div id="slide-show"></div>
</div>
</body>
</html>