<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="appHost" th:content="${appHost}">

    <link href="/images/111th_MI_BDE_Patch.svg" rel="icon">

    <link href="/css/global-styles.css" rel="stylesheet">
    <link href="/css/dining-out-styles.css" rel="stylesheet">
    <link href="/css/slide-show.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b48c69fef3.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script src="/js/testing.js"></script>
    <script src="/js/text-navigation.js"></script>
    <script src="/js/collapse.js"></script>
    <script src="/js/maps.js"></script>
    <script src="/js/slide-show.js"></script>
    <script src="/js/sequence-navigation.js"></script>
    <script src="/js/form-manager.js"></script>

    <title>111th MI BDE Dining Out - 04.01.2022</title>
</head>

<body>
<div class="darkener"></div>
<header>
    <div class="navbar">
        <ul class="navbar collapsable">
            <li>
                <button class="btn btn-hollow" id="nav-home">Home</button>
            </li>
            <li>
                <button class="btn btn-hollow" id="nav-sequence">Sequence of Events</button>
            </li>
            <li>
                <button class="btn btn-hollow" id="nav-menu">Menu</button>
            </li>
            <li>
                <button class="btn btn-hollow" id="nav-location">Location</button>
            </li>
            <li>
                <button class="btn btn-hollow" id="nav-dress">Dress Code</button>
            </li>
        </ul>

        <button class="btn btn-primary" id="getTicketsButton">RSVP/Buy Tickets</button>
        <!--            <button class="btn btn-primary" id="donateButton">Donate</button>-->
    </div>
</header>


<div class="body-wrapper">
    <main>
    </main>

    <footer>
    </footer>

    <div class="loader-frame hidden">
        <div class="loader"></div>
    </div>
</div>

<div id="getTicketsFormHolder">
</div>

<script th:inline="javascript">
    //load slideshow
    // const host = $("meta[name='appHost']").attr("content");
    const host = "[(${appHost})]";

    let slideShow = new SlideShow(['images/263303036_265475378946822_6199204000457916659_n.jpg', 'images/111th_MI_BDE_Patch.svg'], 5);
    let textNavigator = new TextNavigator(host);
    let formManager = new FormManager(host);

</script>

<script th:if="${paymentSuccess}" th:inline="javascript">
    let count = 5;
    let grade = /*[[${grade}]]*/ "";
    let firstName = /*[[${firstName}]]*/ "unnamed";
    let lastName = /*[[${lastName}]]*/ "guest";
    let email = /*[[${email}]]*/ "no@no.com";
    let intervalId;

    $(document).ready(function () {
        $('#getTicketsFormHolder').html(`
        <div class="form-body">
        <div class="form-box">
        <h3 class="safari-flex-fix">Thank You!</h3>
        <button class="btn btn-form-close" id="getTicketsFormClose">
            <i class="fa-solid fa-times"></i>
        </button>
        <div class="text-med">
            Thank you ${grade} ${firstName} ${lastName}, for buying your ticket to the 111th MI BDE Dining out, your purchase is complete.
            You should receive a confirmation email at ${email}.
            <div class="half-spacer"></div>
            <div class="text-sm">
                This dialog will close in <span id="countDown"></span> seconds.<br/>
            </div>
        </div>
        </div>
    `);

        intervalId = setInterval(countDown, 1000);

        $('#getTicketsFormClose').on('click', function () {
            $('#getTicketsFormHolder').empty();
            clearInterval(intervalId);
        })

    })

    function countDown() {
        count--;
        $('#countDown').html(count);
        if (count === 0) {
            $('#getTicketsFormClose').trigger('click');
        }
    }
</script>

<script th:if="${confirmed}" th:inline="javascript">

    let count = 5;
    let grade = /*[[${grade}]]*/ "";
    let firstName = /*[[${firstName}]]*/ "unnamed";
    let lastName = /*[[${lastName}]]*/ "guest";
    let email = /*[[${email}]]*/ "no@no.com";
    let intervalId;

    $(document).ready(function () {
        $('#getTicketsFormHolder').html(`
        <div class="form-body">
        <div class="form-box">
        <h3 class="safari-flex-fix">Thank You!</h3>
        <button class="btn btn-form-close" id="getTicketsFormClose">
            <i class="fa-solid fa-times"></i>
        </button>
        <div class="half-spacer"></div>
        <div class="text-med">
            Thank you ${grade} ${firstName} ${lastName}, for confirming your 111th MI BDE Dining out reservation.
            <div class="half-spacer"></div>
            <div class="flex-row text-sm">
                This dialog will close in <span id="countDown"></span> seconds.<br/>
            </div>
        </div>
    `);

        intervalId = setInterval(countDown, 1000);

        $('#getTicketsFormClose').on('click', function () {
            $('#getTicketsFormHolder').empty();
            clearInterval(intervalId);
        })
    })

    function countDown() {
        count--;
        $('#countDown').html(count);
        if (count === 0) {
            $('#getTicketsFormClose').trigger('click');
        }
    }
</script>
</body>

</html>