<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="body-text" id="main-menu">
    <div class="flex-col">
        <div class="flex-row text-center">
            Menu
        </div>
        <div class="horizontal-spacer"></div>
        <div class="flex-row text-med">
            The menu for our event was carefully selected by the 111th MI Brigade Commander and Dietitian.
            Options include:
        </div>
        <div class="horizontal-spacer"></div>
        <div class="styled-rule-2-lg"></div>
        <div class="flex-row text-med text-center">
            Beef Brisket
        </div>
        <div class="flex-row text-sm text-center">
            Beef Brisket (GF, DF)<br/>
            with<br/>
            Au Gratin Potatoes (V)<br/>
            and<br/>
            Squash Blend (VG, DF)<br/>
        </div>
        <div class="half-spacer"></div>
        <div class="styled-rule-2-lg"></div>
        <div class="flex-row text-med text-center">
            Chicken Piccata
        </div>
        <div class="flex-row text-sm text-center">
            Chicken Piccata (GF, DF)<br/>
            with<br/>
            Au Gratin Potatoes (V)<br/>
            and<br/>
            Squash Blend (VG, DF)<br/>
        </div>
        <div class="half-spacer"></div>
        <div class="styled-rule-2-lg"></div>
        <div class="flex-row text-med text-center">
            Stuffed Portabello Mushroom
        </div>
        <div class="flex-row text-sm text-center">
            Stuffed Portabello Mushroom (VG, V, DF)<br/>
            with<br/>
            Savory Rice with Red & Green Bell Peppers (VG, V, GF, DF)<br/>
            and<br/>
            Squash blend (VG, DF)<br/>
        </div>
        <div class="horizontal-spacer"></div>
        <div class="styled-rule-2-lg"></div>
        <div class="flex-row text-sm text-sm text-center">
            GF - Gluten Free<br/>
            DF - Dairy Free<br/>
            V - Vegetarian<br/>
            VG - Vegan<br/>
        </div>
    </div>
</div>

</body>
</html>