<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="body-text" id="main-menu">
    <div class="flex-col">
        <div class="flex-row text-center">
            Menu
        </div>
        <div class="horizontal-spacer"></div>
        <div class="flex-row text-med">
            The menu for our event was carefully selected by the 111th MI Brigade Commander and Dietician.
            Options include:
        </div>
        <div class="horizontal-spacer"></div>
        <div class="styled-rule-2-lg"></div>
        <div class="flex-row text-med text-center">
            Beef
        </div>
        <div class="flex-row text-sm text-center">
            Description of the beef meal
        </div>
        <div class="horizontal-spacer"></div>
        <div class="styled-rule-2-lg"></div>
        <div class="flex-row text-med text-center">
            Chicken
        </div>
        <div class="flex-row text-sm text-center">
            Description of the chicken meal
        </div>
    </div>
</div>

</body>
</html>