<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-body hidden" id="rsvpFormContainer">
    <div class="form-box">
        <h3 class="safari-flex-fix">RSVP</h3>
        <button class="btn btn-form-close" id="getTicketsFormClose">
            <i class="fa-solid fa-times"></i>
        </button>
        <form id="rsvpForm">
            <input type="hidden" id="rsvpCsrfHeader" th:value="${_csrf.headerName}">
            <input type="hidden" id="rsvpCsrfToken" th:value="${_csrf.token}">
            <div class="flex-row">
                <div class="flex-col">
                    <label for="guestCount">Attending</label>
                    <select id="guestCount">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-col">
                    <label for="unit">Unit:</label>
                    <select id="unit">
                        <option th:each="unit : ${units}" th:value="${unit}" th:text="${unit}"></option>
                    </select>
                </div>
            </div>
            <div class="half-spacer"></div>
            <div class="text-md" style="font-weight:bold;">First guest:</div>
            <div class="half-spacer"></div>
            <div class="flex-row">
                <div class="flex-col">
                    <label for="guest1Grade">Grade or Title:</label>
                    <select id="guest1Grade">
                        <option th:each="grade:${grades}" th:value="${grade}" th:text="${grade}"></option>
                    </select>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-col">
                    <label for="guest1firstName">First Name:</label>
                    <input type="text" id="guest1firstName">
                </div>
                <div class="flex-col">
                    <label for="guest1lastName">Last Name:</label>
                    <input type="text" id="guest1lastName">
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-col">
                    <label for="guest1meal">Meal:</label>
                    <select id="guest1meal">
                        <option th:each="meal:${meals}" th:value="${meal}" th:text="${meal}">Steak</option>
                    </select>
                </div>
                <div class="flex-col">
                    <label for="guest1request">Special requests:</label>
                    <textarea id="guest1request" cols="20" rows="5"></textarea>
                </div>
            </div>
            <div id="secondGuestContainer" class="hidden">
                <input type="hidden" id="secondGuest" value="no">
                <div class="half-spacer"></div>
                <div class="text-md" style="font-weight:bold;">First guest:</div>
                <div class="half-spacer"></div>
                <div class="flex-row">
                    <div class="flex-col">
                        <label for="guest2Grade">Grade or Title:</label>
                        <select id="guest2Grade">
                            <option th:each="grade:${grades}" th:value="${grade}" th:text="${grade}"></option>
                        </select>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col">
                        <label for="guest2firstName">First Name:</label>
                        <input type="text" id="guest2firstName">
                    </div>
                    <div class="flex-col">
                        <label for="guest2lastName">Last Name:</label>
                        <input type="text" id="guest2lastName">
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col">
                        <label for="guest2meal">Meal:</label>
                        <select id="guest2meal">
                            <option th:each="meal:${meals}" th:value="${meal}" th:text="${meal}">Steak</option>
                        </select>
                    </div>
                    <div class="flex-col">
                        <label for="guest2request">Special requests:</label>
                        <textarea id="guest2request" cols="20" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" id="rsvpSubmit">Submit</button>
            <button type="reset" id="rsvpReset">Reset</button>
        </form>
    </div>
</div>
</body>
</html>